---
import Sidebar from '../components/SideBar'
---

<html data-theme="cupcake">
  <head>
    <meta charset="utf-8">
  </head>
    <div class="flex">
      <!-- Sidebar -->
      <Sidebar client:load/>
      <!-- Page content here -->
      <div class="container px-20 h-full pt-20">
        <slot/>
      </div>  
    </div> 
</html>